.error {
  width: 300px;
  height: 421px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 1rem;
  border: 5px double greenyellow;
  border-radius: 20px;
}

.error button {
  border-radius: 5px;
}
