.search {
  display: flex;
  padding: 10px;
  width: 100%;
  justify-content: center;
}

.wrapper {
  position: relative;
  display: flex;
}

input {
  min-width: 300px;
  padding: 5px 15px;
  font-size: 0.7rem;
  border-radius: 10px 0 0 10px;
  border: 1px solid var(--main-bg-color);
}

button {
  padding: 5px 20px;
  border-radius: 0 10px 10px 0;
  text-transform: uppercase;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

button:hover {
  cursor: pointer;
  background-color: var(--main-bg-color-hover);
}

.makeError {
  padding: 5px 10px;
  border-radius: 10px;
  margin: 0 15px;
  background-color: var(--main-error-color);
}

.clear {
  position: absolute;
  font-size: 9px;
  top: 7px;
  right: 110px;
  cursor: pointer;
}

.clear:hover {
  text-shadow: 1px 1px black;
}

@media screen and (max-width: 1300px) {
  .search {
    padding: 10px;
    justify-content: center;
  }
}

@media screen and (max-width: 660px) {
  input {
    min-width: 140px;
  }
}

@media screen and (max-width: 510px) {
  .search {
    flex-direction: column;
  }

  input {
    min-width: 180px;
  }

  .clear {
    left: 165px;
  }

  .makeError {
    margin: 15px auto 0 auto;
  }
}
