* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --main-bg-color: blue;
  --main-text-color: white;
  --main-bg-color-hover: darkblue;
  border: none;
}

#root {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 50px repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 10px;
  height: 100vh;
}

.search {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 6;
  padding: 10px;
  justify-content: center;
}

input {
  min-width: 300px;
  padding: 5px 15px;
  font-size: 0.7rem;
  border-radius: 10px 0 0 10px;
  border: 1px solid var(--main-bg-color);
}

button {
  padding: 5px 20px;
  border-radius: 0 10px 10px 0;
  text-transform: uppercase;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

button:hover {
  cursor: pointer;
  background-color: var(--main-bg-color-hover);
}
